* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(115, 115, 115);
    text-decoration: none;
}

.titulo {
    color: aqua;
    margin: 10px;
    padding: 20px;
}

#ptitulo {
    color: brown;
}